rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    allow read, write: if false;

    match /plants/{plantId} {
    	allow read, write, delete: if request.auth != null && request.auth.uid == resource.data.uid
    }
  }
}